<div class="table-responsive">
<table class="table" *ngIf="book_requests.length > 0">
    <tr>
        <th>Korice</th>
        <th>Naslov</th>
        <th>Autor</th>
        <th>Zanr</th>
        <th>Izdavac</th>
        <th>Godina</th>
        <th>Jezik</th>
        <th>Korisnik</th>
        <th>Radnja</th>
    </tr>
    <tr *ngFor="let b of book_requests">
            <td><img src="../../assets/{{b.image}}" alt="Slika"></td>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.genre}}</td>
            <td>{{b.publisher}} </td>
            <td>{{b.year}}</td>
            <td>{{b.language}}</td> 
            <td>{{b.person}}</td>
            <td><button class="my_btn" (click)="addBook(b)">Prihvati</button></td>
    </tr>
</table>
</div>

<div *ngIf="book_requests.length == 0" class="alert alert-success" role="alert">
    Nema vise zahteva za dodavanje knjiga.
</div>