
<div class="password">
    <div class="form">
      <form class="password-form" ngNativeValidate #form>
        <input type="password" name="password1" placeholder="Stara lozinka" required [(ngModel)]="old_password">
        <input type="password" name="password2" placeholder="Nova lozinka" 
            required [(ngModel)]="new_password" ngModel pattern="^(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])[a-zA-Z].{7,11}$">
        <input type="password" name="password3" placeholder="Ponovite novu lozinku" 
            required [(ngModel)]="check_password" ngModel pattern="^(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])[a-zA-Z].{7,11}$">
        <button (click)="form.checkValidity()? changePassword() : null">Promeni lozinku</button>
      </form>  
    </div>
  </div>
<br/>