footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #0a1121d9;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif !important;
}